.oils ul {
    display: block;
}

.oils ul li {
    color: blue;
    margin: 3% 0;
}

.oils ul li a {
    background: aquamarine;
    padding: 0.5rem 1rem;
    border-radius: 10%;
    box-shadow: 5px 5px 5px lightcoral;
    margin: 0.5rem 1rem;
}

.oils ul li a:hover {
    background: white;
    color: var(--gold);
}