@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@600&display=swap');

:root {
    --body-font-family: 'Roboto', sans-serif;
    --header-font-family: 'Rubik', sans-serif;
    --base: 1.2;
    --base-font-size: 1.2em;
    --h2-font-size: calc(var(--base-font-size) * var(--base));
    --h1-font-size: calc(var(--base-font-size) * var(--base) * var(--base) * var(--base));
    --bg-color: #f2f2f2;
    --gold: #F2C063;
    --gray: #58595B;
    --blue: #6593A6;

}

body {
    font: var(--base-font-size) var(--body-font-family);
    background: var(--bg-color);
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a,
a:visited {
    color: var(--gray);
}

a.disabled {
    background-color: var(--gold);
    cursor: not-allowed;
}

a.disabled::after {
    content: " (link disabled)";
}

section ul li a.disabled:hover {
    box-shadow: none;
    background-color: var(--gold);
}

nav ul {
    text-align: center;
    margin-bottom: 0.694rem;
}

nav ul li {
    color: var(--gray);
    margin: 1rem 0;
}

nav ul li a,
button {
    background: var(--gold);
    padding: 0.5rem 1rem;
    border-radius: 10%;
    box-shadow: 5px 5px 5px var(--gray);
    margin: 0.5rem 1rem;
}

nav ul li a:hover,
button:hover {
    background: white;
    color: var(--gold);
}

h1,
h2,
caption {
    font-family: var(--header-font-family);
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--h1-font-size);
}

h2,
caption {
    font-size: var(--h2-font-size);
}

main.home-page-wrapper {
    max-width: 70%;
    margin: 0 auto;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer p {
    text-align: center;
}

/* Web Resources, Tools, Course References, WCC Resources Styles (on homepage) */
section ul li {
    margin: 0.694rem 0;
}

section ul li:first-child {
    margin: 0;
}

section ul li a {
    display: block;
    padding: 0.694rem;
    border: 5px solid var(--gold);
    border-radius: 5px;
}

section ul li a:hover {
    background-color: var(--gold);
    box-shadow: 5px 5px 5px var(--gray);
}


/* Quarter's End Chart Styles (on homepage) */
aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside ol {
    margin-top: 1.25rem;
    width: 90%;
    border: 5px solid var(--blue);
    border-radius: 6px;
    --moz-border-radius: 6px;
    text-align: center;
}

aside li {
    border-bottom: 2px solid var(--blue);
    padding: 0.694rem;
}

aside li:last-child {
    border-bottom: none;
}


/* Course Dropdown Styles (on course pages) */
form {
    text-align: center;
    margin-bottom: 2rem;
}

button {
    border: none;
    font: 1.25rem inherit;
    box-shadow: none;
}

select {
    font-size: 1.3rem;
    border: 2px solid var(--gold);
    border-radius: 5px;
}



@media only screen and (min-width: 1200px) {

    /* Homepage styles */
    header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    header h1 {
        flex-basis: 30%;
    }

    nav ul {
        flex-basis: 70%;
        display: flex;
    }

    nav ul li {
        margin: 0.694rem;
    }

    main.home-page-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .grid {
        flex-basis: 75%;
        display: grid;
        grid-template-columns: repeat(2, minmax(350px, 1fr));
        grid-template-rows: auto;
        gap: 25px 10px;
    }

    aside {
        flex-basis: 20%;
        align-self: flex-start;
    }
    
}



