@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@500&display=swap');

/* * {border: 1px solid salmon;} */

:root {
    box-sizing: border-box;
    --body-font-family: 'Roboto', sans-serif;
    --header-font-family: 'Rubik', sans-serif;
    --base-font-size: 1.2em;
    --h2-font-size: calc(var(--base-font-size) * 1.2);
    --h1-font-size: calc(var(--base-font-size) * 1.2 * 1.2 * 1.2);
    --bg-color: #f2f2f2;

}

body {
    font: var(--base-font-size) var(--body-font-family);
    background: var(--bg-color);
}

a {
    text-decoration: none;
}

a,
a:visited {
    color: #58595B;
}

a.disabled {
    background-color: #F2C063;
}

a.disabled::after {
    content: " (link disabled)";
}

section ul li a.disabled:hover {
    box-shadow: none;
    background-color: #F2C063;
}

nav ul {
    text-align: center;
    margin-bottom: 0.694rem;
}

nav ul li {
    color: #58595B;
    margin: 1rem 0;
}

nav ul li a,
button {
    background: #F2C063;
    padding: 0.5rem 1rem;
    border-radius: 10%;
    box-shadow: 5px 5px 5px #58595B;
    margin: 0.5rem 1rem;
}

nav ul li a:hover,
button:hover {
    background: white;
    color: #F2C063;
}


h1,
h2,
caption {
    font-family: var(--header-font-family);
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    /* font-size: 2.074rem; */
    font-size: var(--h1-font-size);
}

h2,
caption {
    /* font-size: 1.44rem; */
    font-size: var(--h2-font-size);
}

main.home-page-wrapper {
    max-width: 70%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section ul li {
    margin: 0.694rem 0;
}

section ul li:first-child {
    margin: 0;
}

section ul li a {
    display: block;
    padding: 0.694rem;
    border: 5px solid #F2C063;
    border-radius: 5px;
}

section ul li a:hover {
    background-color: #F2CF63;
    box-shadow: 5px 5px 5px #58595B;
}

aside {
    margin-top: 1.25rem;
}

aside table {
    width: 90%;
    margin: 0 auto;
    border-collapse: separate;
    border: 5px solid #6593A6;
    border-radius: 6px;
    --moz-border-radius: 6px;
    border-spacing: 0;
}

aside td {
    border: none;
    border-bottom: 1.25px solid #6593A6;
    padding: 0.75rem;
}

aside tr:last-child td{
    border-bottom: none;
}

footer p {
    text-align: center;
}


footer nav ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* position: fixed;
    bottom: 0px; */
}

footer nav ul li a {
    background: transparent;
    padding: 0.5rem 1rem;
    border-radius: 10%;
    box-shadow: 2px 2px 2px #58595B;
    margin: 0.5rem 1rem;
    border: 3px solid transparent;
}

footer nav ul li a:hover {
    border: 3px solid white;
    background: white;
}



@media only screen and (min-width: 1200px) {

    header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    header h1 {
        flex-basis: 30%;
    }

    nav ul {
        flex-basis: 70%;
        display: flex;
        /* justify-content: space-around; */
    }

    nav ul li {
        margin: 0.694rem;
    }

    main.home-page-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .grid {
        flex-basis: 75%;
        display: grid;
        grid-template-columns: repeat(2, minmax(350px, 1fr));
        grid-template-rows: auto;
        gap: 25px 10px;
    }

    aside {
        flex-basis: 20%;
    }
    
}



