/* Table styles */
table {
  border-collapse: collapse;
  table-layout: fixed;
  overflow: scroll;
  margin: 0 auto;
}

table ul {
  list-style-type: circle;
  margin-left: 2rem;
  padding: auto;
  text-align: left;
}

tr:nth-child(even) {
  background: var(--gold);
}

td,
th {
  border: 2px solid var(--gray);
}

th {
  background: var(--gray);
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px lightgray;
  color: white;
  padding: 0.5rem;
}

td {
  padding: 0.5rem;
  text-align: center;
  height: 200px;
  width: 500px;
}

td strong {
  font-weight: 900;
}

/* Table Background and Sort Styles */
.background-toggle:nth-child(even) {
  background: none;
}

.hide {
  display: none;
}


/* Privacy Guide Styles, Phone Numbers Quick Guide Styles, & OILS Course Reference Styles*/
table.privacy-guide-table th, 
table.privacy-guide-table td,
table.phone-numbers-quick-guide th, 
table.phone-numbers-quick-guide td,
table.oils-reference th, 
table.oils-reference td {
  height: auto;
  width: auto;
}

table.privacy-guide-table td:only-child, 
table.phone-numbers-quick-guide td:only-child {
  background-color: lightgray;
  text-align: left;
}



/* Smaller Screens */

@media only screen and (max-width: 900px) {
  
   tr {
    border: 2px solid var(--gray);
  }

  th {
    display: none;
  }
  
  td {
    display: block;
    text-align: left;
    width: auto;
    height: auto;
    border: none;
  }
  
  td::before {
    font-weight: 900;
  }

  /* Quarter's End Styles */
  aside table td:nth-child(1) {
    background-color: transparent;
  }

  /* SPR & SPF Course Table Styles */
  table td:nth-child(1) {
    background-color: lightgray;
    border-bottom: 2px solid var(--gray);
    font-weight: 900;
  }

  table td:nth-child(1)::before {
    content: "Course: ";
  }

  table td:nth-child(2)::before {
    content: "Course Name: ";
  }

  table td:nth-child(3)::before {
    content: "No. of Lessons: ";
  }

  table td:nth-child(4)::before {
    content: "Final Exam: ";
  }

  table td:nth-child(5)::before {
    content: "Course Kit Contains: ";
  }

  table td:nth-child(6)::before {
    content: "Online Study Guide: ";
  }

  table td:nth-child(7)::before {
    content: "Additional Online Material: ";
  }

  /* Phone Number Table Styles */
  table.phone-numbers-quick-guide td:empty {
    display: none;
  }

  table.phone-numbers-quick-guide td:nth-child(1)::before {
    content: "Name: ";
  }

  table.phone-numbers-quick-guide td:nth-child(2)::before {
    content: "Phone: ";
  }

  table.phone-numbers-quick-guide td:nth-child(3)::before {
    content: "Email: ";
  }

  table.phone-numbers-quick-guide td:nth-child(4)::before {
    content: "Job Title / Department: ";
  }
  
  table.phone-numbers-quick-guide td:only-child::before {
    content: none;
  }

  /* OILS Course Reference Table Styles */
  table.oils-reference td:nth-child(1)::before {
    content: "Banner Lesson Number: ";
  }

  table.oils-reference td:nth-child(2)::before {
    content: "OILS Lesson Title: ";
  }

  table.oils-reference td:nth-child(3)::before {
    content: "OILS Lesson Quiz Title: ";
  }
  

  /* Privacy Guide Styles */
  table.privacy-guide-table td::before {
    content: none;
  }

  table.privacy-guide-table th, 
  table.privacy-guide-table td {
    display: revert;
    border: 2px solid var(--gray);
  }

  table.privacy-guide-table td {
    background-color: unset;
    font-weight: unset;
  }

}